@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --blue: #1e90ff;
    --white: #ffffff;
    --cream: #f6f7f8;
    --grey: #717384;
    --black: #323339;
    --yellow: #dbdde2;
}


.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 200,
        'opsz' 24
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    /* border: 2px solid red; */
}

body {
 
    color: var(--white);
   
}
 small{
    color: var(--yellow);
 }

 .conatiner{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 260px calc(100% - 260px);
    background: url("hero.png");
    background-position: center;
    background-size: cover;

}

.sidebar {
    width: 260px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgb(25 26 30 / 70%);
    backdrop-filter: blur(7px);
    --webkit-backdrop-filter: blur(30px);
    border-right: 1px solid rgba(255, 255, 255, 0.7);

    transition: all 0.3s ease;
}

.sidebar .logo {
    color: var(--white);
    display: flex;
    align-items: center;
    padding: 25px 10px 15px;
    margin-left: -30px;
}

.sidebar .logo img {
    width: 70%;
    left: 54px;
    position: absolute;
    bottom: 20px;
}

.logo h2 {
    font-size: 14px;
    font-weight: 700;
    margin-left: 15px;
    display: block;
    text-transform: uppercase;
}
.sidebar .links {
    list-style: none;
    margin-top: 20px;
    overflow-y: auto;
    scrollbar-width: none;
    height: calc(100% - 140px);
    margin-left: -25px;
}

.links li {
    display: flex;
    border-radius: 4px;
    align-items: center;
    font-size: 14px;
    width: 180px;
    padding: 0 14px;
    height: 50px;
    margin-top:3px; 
}
.close{
    display: none;
}
.active{
    cursor: pointer;
    background: rgba(255, 255, 255, 0.124);
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4.5px );
-webkit-backdrop-filter: blur( 4.5px );
border-radius: 5px;
border: .5px solid rgba(255, 255, 255, 0.437);
}
.links li:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.124);
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4.5px );
-webkit-backdrop-filter: blur( 4.5px );
border-radius: 5px;
border: .5px solid rgba(255, 255, 255, 0.437);
}

.links h4 {
    color: var(--white);
    font-weight: 500;
    display: block;
    margin-bottom: 10px;
}

.links hr {
    margin: 10px 8px;
    border: 1px solid #4c4c4c;
    border-color: transparent;
}

.conatiner hr{
    border: 2px solid rgba(128, 128, 128, 0.477); width: 80%; border-radius: 90%;}
.links li span {
    padding: 10px;
    margin: 10px 0px;
    /* padding: 12px 10px; */
    background: rgb(106 106 110 / 27%);
    border-radius: 100%;
    font-size: 14px;
    text-align: center;
}

.links li a {
    padding: 10px;
    color: var(--white );
    display: block;
    font-weight: 500;
    white-space: nowrap;
    text-decoration: none;
}

.content{
    width: calc(100% - 260px);
    padding:1rem
}

.topnav{
    height: 65px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 800px;
}
.right{
    display: flex;
    gap: 20px ;
    text-align: center;
   
}
.right input{
    width: 220px;
    height: 40px;
    border-radius: 20px;
    padding: 8px 12px 8px 8px;
    color: whitesmoke;
    background: rgb(25 26 30 / 70%);
    backdrop-filter: blur(30px);
    --webkit-backdrop-filter: blur(17px);
    border: .5px solid rgba(255, 255, 255, 0.437);

}
.right span{
    background: transparent;
    color: white;
    height: 35px;
    border-radius: 20px;
    padding: 5px;
    font-size: 14px;
    margin-top: 5px;
}
.home , span.search{
    display: none;
}
header{
    width: 80%;
    height: auto;
    display: flex;
    gap: 40px;
}
.card{
    width: 100%;
    height: 30%;
    background: rgb(25 26 30 / 70%);
    backdrop-filter: blur(30px);
    padding: 2rem;
    border-radius: 10px;
    --webkit-backdrop-filter: blur(7px);
    border: .5px solid rgba(255, 255, 255, 0.437);
    background: url("https://img.freepik.com/free-vector/blue-wavy-background-with-line-wave_677411-919.jpg?t=st=1715450250~exp=1715453850~hmac=558ec0fa74d194c3db0e51fa671966d5abe5ae962b24d9285ade075e9fae4bba&w=1060");
    background-position: 0 175px;
    background-size: cover;
    /* background-repeat: no-repeat; */
    opacity: 0.95;
}
.visa{
    background-image: url("https://img.freepik.com/free-vector/gradient-black-background-with-cubes_23-2149152314.jpg?t=st=1715449567~exp=1715453167~hmac=40abe49874614821303df7aa8c27c4be9fd721162cce91bda53ba2e52c5b047a&w=996");
}
.card div{
    margin-top: 40px;
}
.txt a{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 22px;
}
.txt a:last-child{
    gap: 75px;
    margin-top: 0;
    font-weight: 800;
}
.card small{
    font-size: 12px;
}
.card img{
    width: 50px;
    position: absolute;
    right: 20px;
    top: 20px;
    bottom: auto;
    left: auto;
}
.addcard{
    width: 80%;
    height: auto;
    margin-top: 20px;
    padding: 1rem;
    background: rgb(25 26 30 / 70%);
    backdrop-filter: blur(30px);
    border-radius: 10px;
    --webkit-backdrop-filter: blur(7px);
    border: .5px solid rgba(255, 255, 255, 0.437);
}
.addcard .head{
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 10px;
    }
.addcard a{
    padding: 0.49rem;
    font-size: 12px;
    color: white;
    border: 1px solid whitesmoke;
    text-decoration: none;
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
}
.addcard input{
    width: 370px;
    padding: 0.67rem 3rem;
    font-size: 13px;
    border-radius: 20px;
    margin: 15px 0;
    color:var(--cream);
    backdrop-filter: blur(20px) saturate(200%);
    -webkit-backdrop-filter: blur(20px) saturate(200%);
    background-color:rgba(0, 0, 0, 0.485);
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(200, 189, 189, 0.30), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.228);
}

.icon{
    width: 330px;
    height: auto;
    margin-left: 20px;
    position: absolute;
    top: auto;
    bottom: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size:8px ;
    color: var(--white);
    z-index: 99;
}
.icon span{
    font-size: 12px;
}
.icon img{
    width: 20px;
}
.last img{
    width: 30px;
}
.last{
    left: 49%;
    bottom: 45px;
}
.invoices{
    position: absolute;
    top: 80px;
    width: 28%;
    right: 1%;
    height: 48%;
    padding: 0.87rem;
    border: .5px solid rgba(255, 255, 255, 0.437);
    border-radius: 10px;
    background: rgb(25 26 30 / 70%);
    backdrop-filter: blur(30px);
    --webkit-backdrop-filter: blur(17px);

}
.invoices ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.invoices ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.invoices .head, .information .head{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 20px;
}

.invoices .right span{
    background: transparent;
color: white;
height: 13px;
border-radius: 20px;
padding: 5px;
font-size: 14px;
margin-top: 5px;
color: green;
text-align: center;
margin: -4px auto;
}

.invoices .right span.green{
    color: green;
}
.invoices .right span.red{color: red;}
.invoices .right span.grey{
    color: grey;
}
.addcard .data{
    display: flex;
    gap: 10px;
}
.invoices ul li h3{
    font-size: 14px;
    font-weight: 400;
}
.end{
    width: 126%;
    height: 34vh;
    margin-top: 15px;
    display: flex;
    gap: 20px;
}
.information{
    padding: 1rem;
    width: 50%;
    height:110%;
    background: rgb(25 26 30 / 70%);
    backdrop-filter: blur(30px);
    border-radius: 10px;
    --webkit-backdrop-filter: blur(7px);
    border: .5px solid rgba(255, 255, 255, 0.437);
    font-size: 12px;
}
.information small{
    font-weight: 400;
    font-size: 11px;
    color: #c1c1c1f7;
}
.information .data{
    margin-top: -11px;
}
.information .left{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.information .down{
    border: 2px solid red;
    border-radius: 50%;
    font-size: 12px;
    padding: 4px;
    color: red;
}
.information .up{
    border: 2px solid green;
    border-radius: 50%;
    font-size: 12px;
    padding: 4px;
    color: green;
}
.information .pending{
    border: 2px solid gray;
    border-radius: 50%;
    font-size: 12px;
    padding: 4px;
    color: gray;
}

.information .app h3{
    font-size: 10px;
    
}
.heading{
    top: 5px;
    position: relative;
}
.information a{
    font-size: 12px;
    text-align: center;
    margin-right: 10px;
}
.information .app{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}
.msg{
    background: rgba(25, 26, 30, 0.205);
    border-radius: 10px;
    --webkit-backdrop-filter: blur(7px);
    border: .5px solid rgba(255, 255, 255, 0.437);
    padding: 1.09rem;
    margin-top: 0px;
    border-radius: 20px;
    margin-bottom: 10px;
}
.msg h3:first-child{
    font-size: 12px;
    font-weight: 500;
    color: white;
}
.msg h3{
    font-size: 10px;
    font-weight: 400;
    color: #c1c1c1f7;
}
.head1{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
}
.head1 h3{
    font-size: 14px;
}
.head1 a span{
    color: var(--cream);
    border: none;
    padding: 0;
}
.msg .head{
    font-size: 10px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-bottom: 5px;
}
.action small{
    color: red;
    font-weight: 700;
    cursor: pointer;
}
.action .edit span,.edit small{
    color: whitesmoke;
}
.action a span{
    border:none;
    border-radius: 0px;
    font-size: 12px;
    padding: 0;
    color: red;
    cursor: pointer;
    
}
.addcard .head a span{
    display: none;
}
@media (max-width: 360px) {
    .conatiner{
        height: auto;
        display: block;
        background-image: url("bg.png");
        /* background-repeat: repeat; */
    }
    .content{
        width: 100%;
        padding: 1rem;
        height: auto;
        /* display: none; */
    }
     .conatiner hr {
        border-color: transparent;
    }
    .home , .search{
        display: contents;
    }
    .logo{
        display: flex;
        flex-direction: row;
        width: 40%;
    }
    .logo h3{
        font-size: 15px;
        font-weight: 400;
    }
    .logo h2{
        font-size: 20px;
    }
    .sidebar {
        display: none;
        position: fixed;
        z-index: 99;
        width: 200px;
    }
    .sidebar .links{
        margin-left: 5px;
    }
    .close{
        margin-left: 140px;
        margin-bottom: -5px;
        margin-top: 10px;
    }
    .logo input{
        display: none;
    }
    .topnav{
        gap: 120px;
            position: fixed;
            z-index: 99;
            height: 40px;
            background-color: #1313137e;
            padding: 10px;
            top: 0;
            right: auto;
            left: 0;
            padding: 5px 20px;
            backdrop-filter: blur(10px);
    }
    .topnav span{
        display: none;
        cursor: pointer;
    }
    .topnav span:last-child , .topnav span:first-child{
        display: inline;
        font-size: larger;
        display: flex;
        align-items: center;
    }
    header{
        flex-direction: column;
        gap: 20px;
        margin: 50px auto;
        width: 100%;
    }
    .card{
        width: 90%;
        margin: 0px auto;
    }
    .addcard{
        margin: 20px auto;
        width: 90%;
    }
    .addcard .data{
        display: flex;
        flex-direction: column;
    }
    .addcard a{
        border: none;
        padding: 0;
    }
    .addcard .head small{ 
        display: none;
    }
    .addcard .head a span{
        display: block;
    }
    .addcard input{
        width: 305px;
        padding: 0.67rem 3rem;
        font-size: 13px;
        border-radius: 20px;
        margin: 15px 0;
    }
    .icon{
        width: 264px;
        height: auto;
        margin-left: 20px;
        position: absolute;
        top: auto;
        bottom: 120px;
    }
    .last{
        left: 7px;
        bottom: 45px;
        width: 270px;
    }
    .invoices{
        position: static;
        width: 90%;
        height: auto;
        margin: 20px auto;
    }
    .end{
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
    }
    .information{
        width: 100%;
        
    }
    .msg .head{
        grid-template-columns: 2fr 1fr;
        gap: 129px;
    }
    .action a small{
        display: none;
    }
}
